@using IService.Models;
@{
    ViewData["Title"] = "Home Page";
    User data = ViewBag.User;
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <p>@ViewBag.ip</p>
        <p>@ViewBag.port</p>
        <p>@data.PKID</p>
        <p>@data.Name</p>
        <p>@data.CreatedTime</p>
    </div>
